<link rel="stylesheet" type="text/css" href="../css/profile.css">
<div class="qx banner" style="background-image: url({{userData.fields.landscapeHeroImage.fields.file.url || userData.fields.squareThumbnailImage.fields.file.url}});"></div>
<div class="profile amt">
  <div class="profileg">
    <div class="profilegn">
      <div class="qv rc aog alu">
        <div style="
          height: 120px;
          background-size: cover;
          background-attachment: fixed;
          background-image: url({{userData.fields.landscapeHeroImage.fields.file.url || userData.fields.squareThumbnailImage.fields.file.url}});
          position: absolute;
          -webkit-filter: blur(25px);
          width: 100%;
          height:100%;
          background-position: center top;
      "></div>
        <div class="qw dj">
          <a href="profile/index.html">
            <img class="aoh" ng-src="{{userData.fields.squareThumbnailImage.fields.file.url}}?w=106&h=106">
          </a>

          <h5 class="qy">
            {{userData.fields.name}}
          </h5>

          <ul class="aoi">
            <li class="aoj">
              <md-button ng-if="!alreadyFollowed" ng-click="followUser(userData.fields.slug)" class="aku" data-toggle="modal">
                Follow 
              </md-button>
              <md-button ng-disabled="true" ng-if="alreadyFollowed" class="aku" data-toggle="modal">
                Following
              </md-button>
            </li>
          </ul>
        </div>
      </div>

      <div class="qv rc sm sp">
        <div class="qw">
          <h5 class="ald">About {{userData.fields.name}}</h5>
          <ul class="eb tb">
            <li >
              {{userData.fields.bio}}
          </li></ul>
        </div>
      </div>
    </div>

    <div class="gz">
      <ul class="ca qo anx">

        <li class="qf b aml" ng-repeat="video in userVideos | orderBy: '-fields.deliveryDate'">
          <a class="qj" href="#">
            <img class="qh cu" src="{{userData.fields.squareThumbnailImage.fields.file.url}}?w=60&h=60">
          </a>
          <div class="qg">
            <div class="qn">
              <small class="eg dp">{{video.fields.deliveryDate | date}}</small>
              <h5>{{userData.fields.name}}</h5>
            </div>

            <p>
              {{video.fields.description}}
            </p>

            <div class="any" data-grid="images">
              <a href="#/v/{{video.fields.slug}}">
                <div style="display: inline-block; margin-bottom: 10px; margin-right: 0px; vertical-align: bottom; position:relative;">
                  <span class="imageStillPlaceHolder"></span>
                  <img src="{{video.fields.landscapeAsset.fields.awsStill}}?w=597&h=336">
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>