<!-- public/index.html -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/">

    <title>Starter Node and Angular</title>

    <!-- CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.css">
    <link rel="stylesheet" href="./libs/bootstrap/dist/css/bootstrap.min.css">
      <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="./css/style.css"> <!-- custom styles -->

    <link href="//vjs.zencdn.net/5.8.8/video-js.css" rel="stylesheet">

    <!-- If you'd like to support IE8 -->
    <script src="//vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>

    <!-- JS -->
    <script src="./libs/angular/angular.min.js"></script>
    <script src="./js/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="./libs/angular-route/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/angular-contentful.min.js"></script>
  <!-- Angular Material Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.js"></script>
    <script src="./js/angular-swiper.js"></script>

    <script src="./js/videogular/videogular.js"></script>
    <script src="./js/videogular-controls/vg-controls.js"></script>
    <script src="./js/videogular-overlay-play/vg-overlay-play.js"></script>
    <script src="./js/videogular-poster/vg-poster.js"></script>
    <script src="./js/videogular-buffering/vg-buffering.js"></script>
    <!-- ANGULAR CUSTOM -->
    <script src="./js/controllers/MainCtrl.js"></script>
    <script src="./js/controllers/SearchCtrl.js"></script>
    <script src="./js/controllers/ProfileCtrl.js"></script>
    <script src="./js/controllers/VideoCtrl.js"></script>
    <script src="./js/controllers/ArticleCtrl.js"></script>
    <script src="./js/controllers/DiscoverCtrl.js"></script>
    <script src="./js/controllers/DiscListController.js"></script>
    <script src="./js/controllers/tasteMakersCtrl.js"></script>
    <script src="./js/services/NerdService.js"></script>
    <script src="./js/appRoutes.js"></script>
    <script src="./js/app.js"></script>
</head>
<body ng-app="tasteMade" ng-controller="MainController">
    <md-sidenav md-component-id="left" md-is-open="isSidenavOpen" class="md-sidenav-left"></md-sidenav>
<div class="mainContent">

    <!-- HEADER -->
    <nav class="navbar headroom header--fixed navbar-fixed-top">
        <div class="navbar-header">
            <a class="navbar-brand" href="#home">
                <img src="./img/tastemade-logo.png" class="logo">
            </a>
        </div>

        <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
        <ul class="nav navbar-nav left">
            <li><a href="#search">Search</a></li>
            <li><a href="#discover">Discover</a></li>
            <li><a href="#profile">My TasteMade</a></li>
        </ul>
        <ul class="nav navbar-nav right">
            <li><a href="#discover">shows</a></li>
            <li><a href="#taste-makers">tastemakers</a></li>
            <li><a href="#profile">Recipes</a></li>
            <li><a href="/auth/facebook">Login</a></li>
        </ul>
        <md-button ng-click="openLeftMenu()"
            class="md-primary" hide-gt-md>
            Toggle left
        </md-button>
    </nav>

    <!-- ANGULAR DYNAMIC CONTENT -->
    <div class="view {{ cssClass }}" ng-view autoscroll="true"></div>

<div id="footcnt" data-ved="0ahUKEwiah5av94_MAhUmvIMKHRFKBtoQpyoIaA">   <div> <style>.fmulti{}._dQc{bottom:0;left:0;position:absolute;right:0}._GR{background:#f2f2f2;left:0;right:0;-webkit-text-size-adjust:none}.fbar p{display:inline}.fbar a,#fsettl{text-decoration:none;white-space:nowrap}.fbar{margin-left:-27px}._Gs{padding-left:27px;margin:0 !important}._eA{padding:0 !important;margin:0 !important}#fbarcnt{display:block}._E2 a:hover{text-decoration:underline}._HR img{margin-right:4px}._HR a,._GR #swml a{text-decoration:none}.fmulti{text-align:center}.fmulti #fsr{display:block;float:none}.fmulti #fuser{display:block;float:none}#fuserm{line-height:25px}#fsr{float:right;white-space:nowrap}#fsl{white-space:nowrap}#fsett{background:#fff;border:1px solid #999;bottom:30px;padding:10px 0;position:absolute;box-shadow:0 2px 4px rgba(0,0,0,0.2);-webkit-box-shadow:0 2px 4px rgba(0,0,0,0.2);text-align:left;z-index:104}#fsett a{display:block;line-height:44px;padding:0 20px;text-decoration:none;white-space:nowrap}._E2 #fsettl:hover{text-decoration:underline}._E2 #fsett a:hover{text-decoration:underline}._mk{color:#777}._Nh{color:#222;font-size:14px;font-weight:normal;-webkit-tap-highlight-color:rgba(0,0,0,0)}._Mo{display:inline-block;opacity:0.55;vertical-align:top}a._Nh:hover ._Mo,a._Nh:active ._Mo{opacity:1.0}._Nh{padding:8px 16px;margin-right:10px}._mk{margin:40px 0}._dD{margin-right:10px}._nW{margin-left:135px}#fbar{background:#f2f2f2;border-top:1px solid #e4e4e4;line-height:40px;min-width:980px}._xac{margin-left:135px}.fbar p,.fbar a,#fsettl,#fsett a{color:#777}.fbar a:hover,#fsett a:hover{color:#333}.fbar{font-size:small}#fuser{float:right}._HR{margin-left:135px;line-height:15px;}</style>  <div data-jibp="h" data-jiis="uc" id="fbarcnt" style="position: relative; visibility: visible; height: auto;"><style>.known_loc{background:#4285f4}.unknown_loc{background:#9e9e9e}.known_loc,.unknown_loc{border-radius:100%;display:inline-block;height:10px;margin:6px 4px 9px 0;vertical-align:middle;width:10px}._uIb{display:inline-block}#fbar._Zvd{padding-top:18px}._HR{color:#aaa}._HR a,#swml a{color:#777}._HR a,#swml a:hover{color:#333}</style> <div id="fbar" class="_Zvd" style="left:0;right:0">  <div style="visibility: visible;" class="_HR" id="swml"><div class="_uIb"><span class="unknown_loc"></span><span id="swml_addr">Austin, TX</span> - <span>From your Internet address</span> - <a href="#">Use precise location</a></div><div class="_uIb"><span id="swml_lmsep">&nbsp;-&nbsp;</span><a href="https://support.google.com/websearch?p=ws_settings_location&amp;hl=en" onmousedown="return rwt(this,'','','','','AFQjCNHlgSnvUiH73CVJPbvuNVgY6KO76A','HStr1gKaLlFKwsUeyHPWCA','0ahUKEwiah5av94_MAhUmvIMKHRFKBtoQty4IaQ','','',event)">Learn more</a>&nbsp;&nbsp;&nbsp;</div></div>    <div class="fbar"> <span class="_nW">  <span id="fsl">   <a class="_Gs" href="//support.google.com/websearch/?p=ws_results_help&amp;hl=en&amp;fg=1">Help</a>  <a href="javascript:void(0)" class="_Gs" data-bucket="websearch" id="_Yvd" target="_blank" jsaction="gf.sf" data-ved="0ahUKEwiah5av94_MAhUmvIMKHRFKBtoQLghq">  Send feedback </a>   <a class="_Gs" href="//www.google.com/intl/en/policies/privacy/?fg=1">Privacy</a> <a class="_Gs" href="//www.google.com/intl/en/policies/terms/?fg=1">Terms</a>    </span> </span> </div>  </div> </div> </div> </div>
</div>
<script src="//npmcdn.com/headroom.js@0.9.3"></script>
<script type="text/javascript">
var myElement = document.querySelector("nav");
// construct an instance of Headroom, passing the element
var headroom  = new Headroom(myElement);

// initialise
headroom.init(); 
</script>
</body>
</html>