html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
button, html, input, select, textarea {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
body, html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body, html {
    height: 100%;
    position: relative;
}
body {
    font-weight: 300;
    letter-spacing: 0;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #1e3948;
    background-color: #f5f8fa;
}
body {
    margin: 0;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html.md-default-theme, html, body.md-default-theme, body {
    color: rgba(0,0,0,0.87);
    background-color: rgb(250,250,250);
}
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
}
html {
    display: block;
}
*, *::before, *::after {
    box-sizing: inherit;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}






.qx {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.amt {
    padding-top: 30px !important;
    margin-top: -80px;
}

.profile {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.profileg {
    margin-left: -15px;
    margin-right: -15px;
}

.rx:before, .rx:after, .ed dd:before, .ed dd:after, .fk .et:before, .fk .et:after, .profile:before, .profile:after, .gb:before, .gb:after, .profileg:before, .profileg:after, .oj:before, .oj:after, .oi > .oh:before, .oi > .oh:after, .nav:before, .nav:after, .ck:before, .ck:after, .or:before, .or:after, .f:before, .f:after, .ph:before, .ph:after, .qw:before, .qw:after, .d:before, .d:after, .rp:before, .rp:after {
    content: " ";
    display: table;
}
.rx:after, .ed dd:after, .fk .et:after, .profile:after, .gb:after, .profileg:after, .oj:after, .oi > .oh:after, .nav:after, .ck:after, .or:after, .f:after, .ph:after, .qw:after, .d:after, .rp:after {
    clear: both;
}
.gd, .ge, .gf, .gg, .gh, .gi, .gj, .gk, .gl, .gm, .profilegn, .go, .gp, .gq, .gr, .gs, .gt, .gu, .gv, .gw, .gx, .gy, .gz, .ha, .hb, .hc, .hd, .he, .hf, .hg, .hh, .hi, .hj, .hk, .hl, .hm, .hn, .ho, .hp, .hq, .hr, .hs, .ht, .hu, .hv, .hw, .hx, .hy {
    position: relative;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.sm, .sp {
    display: none !important;
}
.ca {
    margin-bottom: 20px;
    padding-left: 0;
}

.qo {
    padding-left: 0;
    list-style: none;
}
.anx .qf.b {
    margin-top: 0;
}

.b:first-child {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}
.qf:first-child {
    margin-top: 0;
}
.qf, .qg {
    overflow: visible;
}
.aml {
    padding: 20px !important;
}
.qj, .qi, .qg {
    display: table-cell;
    vertical-align: top;
}
.qj, .qf > .qk {
    padding-right: 10px;
}
.b {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #ECECEC;
}
.qf, .qg {
    zoom: 1;
    overflow: hidden;
}
.qf {
    margin-top: 15px;
}
.alu {
    margin-bottom: 10px !important;
    overflow: hidden !important;
    position: relative;
}
.rc {
    border-color: #ECECEC;
}
.qv {
    margin-bottom: 12px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); */
    overflow: hidden;
}
.tb li {
    margin-bottom: 3px;
}

.tb li {
    margin-bottom: 3px;
    list-style: none;
}
.ald {
    margin-top: 0 !important;
}
ul.eb.tb {
    padding-left: 0 !important;
}
.qw.dj {
    text-align: center;
}
.qw {
    padding: 15px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
}
a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: rgb(255, 0, 87) !important;
}

.aoh {
    max-width: 100px;
    /* margin-top: -70px; */
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

img {
    vertical-align: middle;
}
.aog .qy {
    margin-bottom: 5px;
}

.qy {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.h5, h5 {
    font-size: 14px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.qy > a, .qy > small, .qy > .de, .qy > small > a, .qy > .de > a {
    color: inherit;
}
a.md-default-theme:not(.md-button), a:not(.md-button) {
    color: rgb(255, 0, 87);
}
.aku, .aku:hover, .aku:focus {
    color: inherit;
    text-decoration: inherit;
}
a {
    background-color: transparent;
}
.aoi {
    list-style: none;
    padding: 0;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.aoj {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #d4dbe0;
}

.aoj:last-child {
    border-right: 0;
}

a {
    background-color: transparent;
}
.anx .qh {
    border-radius: 100%;
}
.anx .qh {
    width: 42px;
    margin-right: 5px;
}
.qh {
    display: block;
}
.qf, .qg {
    overflow: visible;
}
.qj, .qi, .qg {
    display: table-cell;
    vertical-align: top;
}
.qg {
    width: 10000px;
}
.qf, .qg {
    zoom: 1;
    overflow: hidden;
}
.qn {
    margin-top: 0;
    margin-bottom: 5px;
}
.eg {
    float: right !important;
}
.small, small {
    font-size: 85%;
}
small {
    font-size: 80%;
}

.anx .qn > h5 {
    margin-bottom: 0;
    margin-top: 5px;
}
.h5, h5 {
    font-size: 14px;
}
.anx .anz, .anx .any {
    margin: 20px 0 25px;
}
.anx .any {
    width: 100%;
}
.imageStillPlaceHolder {
    width: 240px;
    height: 80px;
    position: absolute;
    background: url(http://douglasgreen.com/demo/responsive-video-play-button/img/play-btn.png) no-repeat;
    background-position: 50% 50%;
    background-size: 300%;
    display: block;
    left: 0;
    right: 0px;
    margin: 0 auto;
    margin-top: 20%;
    transform: translate(0px, );
    opacity: 0.7;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.anx .any img, .anx .anz {
    max-width: 100%;
}
img {
    vertical-align: middle;
}
.nav li a {
    color: #000 !important;
}
.view.view3 {
    overflow-y: hidden;
}
@media (min-width: 768px) {
  .banner {
      background-size: cover;
      background-attachment: fixed;
      background-position: center top;
      height: 380px;
  }
  .profile {
      width: 750px;
  }
  .anx .qh {
      width: 60px;
  }
}
@media (min-width: 992px) {
  .gz, .sm {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
  .gz {
      float: left;
      width: 70%;
      margin-left: 1%;
  }
  .profile {
      width: 990px;
  }
}
@media (max-width: 1259px) and (min-width: 992px) {
  .sm {
      display: block !important;
      width: 28%;
      float: left;
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}
@media (min-width: 1260px) {
  .sp {
      display: block !important;
      width: 28%;
      float: left;
      padding-left: 0 !important;
      padding-right: 0 !important;
  }
}
