@media (min-height: 37.5em) and (min-width: 768px) {
	.center-vertically {
	    display: table;
	    width: 100%;
	    height: 100%;
	    padding: 0;
	}
}
.videogular-container {
	width: 100%;
	height: 100%;
	padding: 10px;
	overflow: hidden;
	background: #fff;
    margin-top: 10px;
    box-shadow: 0 0 1px 1px #E2E2E2;
}
@media (min-width: 1200px) {
	.videogular-container {
		width: 100%;
		height: 100%;
	}
}
 
@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 100%;
		height: 100%;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 100%;
		height: 100%;
	}	

}
@media (min-width: 768px) {
	.banner {
		background-size: cover; 
		background-attachment: fixed;
		background-position: center top;
		height: 380px;
	}	
	
}
@media (max-width: 768px) {
	.recipe {
		padding: 0 !important;
	}
	.main-video-window {
	    max-width: 100% !important;
	}
	md-content {
	    margin-left: 0 !important;
	}
	.banner {
		background-size: cover; 
		background-position: center top;
		height: 220px;
	}	
}
.videogular-container.video.description {
    height: auto !important;
}
.videogular-container.video.description p {
	padding: 30px 0;
}
.videogular-container.home {
    padding: 0;
    margin: 0 !important;
    box-shadow: none;
}
ul.nav.navbar-nav {
	display: none;
}
@media (min-width: 992px) {
	ul.nav.navbar-nav {
		display: block;
	}
}
body {
	margin-top: 79px !important;
}
.headroom {
    transition: transform .25s ease-in-out;
    will-change: transform;
}
.header--fixed {
    position: fixed !important;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;
}
.headroom--unpinned {
    transform: translateY(-100%);
}
.tasteMakers ks-swiper-container .swiper-container .swiper-wrapper {
	max-width: 210px;
}
.view {
    overflow-x: hidden;
    background-color: rgb(250, 250, 250);
}
.m-b-3 {
    margin-bottom: 3rem!important;
    color: #fff;
}
.jumbotron {
    padding-top: 7rem;
    margin-bottom: 0;
    background: #663fb5 url(https://images.unsplash.com/photo-1436565186922-96047f7814d7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=cf63e8e36c7c06f11638967374f3d175) no-repeat center bottom;
    background-size: cover;
    border-radius: 0;
}
.jumbotron .container * {
    text-shadow: 0px 0px 10px #713333;
}
@media (min-height: 37.5em) and (min-width: 768px) {
.center-vertically {
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
}
}
.container::after {
    content: "";
    display: table;
    clear: both;
}

*, *::before, *::after {
    box-sizing: inherit;
}
.bg-inverse {
    color: #fff;
}
.bg-inverse {
    color: #eceeef;
    background-color: #312f38;
}
.text-xs-center {
    text-align: center!important;
}
@media (min-width: 544px) {
	.jumbotron {
	    padding: 4rem 2rem;
	}
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.938rem;
    padding-right: 0.938rem;
}
.display-3 {
    font-size: 5rem;
    font-weight: 500;
}
.m-b-3 {
    margin-bottom: 3rem!important;
}
h2 {
    font-weight: 300;
    line-height: 1.5;
}

h2 em {
    font-weight: 500;
}

.jumbotron a.jumbolink {
    opacity: .6;
    transition: opacity .175s;
        color: #EFEFEF;
}
.tasteMakers.container h1 {
    text-transform: uppercase;
    font-size: 2em;
    padding: 10px 0;
    margin-left: -22px;
    margin-bottom: 10px;
}
.jumbotron .btn {
    padding: 1.2rem 2rem;
}
.btn>i, .btn>span {
    margin-right: .3rem;
    font-size: 1.28rem;
    line-height: 1;
    vertical-align: -20%;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
@media (min-height: 37.5em) and (min-width: 768px) {
	.social-share {
	    position: absolute;
	    right: 0;
	    bottom: 35px;
	    left: 0;
	}
}
.social-share {
    margin-bottom: 1rem;
    font-family: "Lato",sans-serif;
    font-size: .8125rem;
    font-weight: 700;
    line-height: 1.23;
    text-align: center;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-inline .nav-item {
    display: inline-block;
}
.social-share li {
    padding: .1875rem .7rem;
}

.social-share a {
    color: #fff;
}

.container::after {
    content: "";
    display: table;
    clear: both;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: 0.3rem;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.container.mainContent {
    width: 100%;
    padding: 0;
    background-color: rgba(243, 242, 242, 0.72);
}
.content.today {
    /*box-shadow: 0 56px 6px 0px rgba(142, 139, 139, 0.33);*/
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #EAE9E9;
    box-shadow: 0 0 1px 1px #EAEAEA;
    border-radius: 0 !important;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
    background: #fff;
    padding: 0 30px;
}
.navbar-nav>li>a {
    line-height: 46px;
    padding-top: 15px;
    font-size: 12px;
    color: black;
    font-weight: 500;
}
.navbar-brand {
    padding: 0px 15px;
    MARGIN-TOP: 20px;
}
img.logo {
    display: inline;
    max-width: 130px;
}
ul.nav.navbar-nav.right {
    float: right;
}
.navbar-nav>li>a:hover,  .navbar-nav>li>a:focus {
    border-top: 1px solid red;
    line-height: 44px;
}

.banner-content {
    position: absolute;
    top: 150px;
    left: 190px;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}
.banner-content h1 {
    font-size: 4em;
    font-family: sans-serif;
    text-shadow: 0px 0px 6px #4C4B4B;
}
.banner-content h1 {
    font-size: 4em;
}
.banner-content h1, .banner-content p {
	font-family: sans-serif;
    text-shadow: 0px 0px 6px #4C4B4B;
}
.content.today h1 {
    text-transform: uppercase;
    font-size: 2em;
    padding: 20px 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}
.grid {
	position: relative;
	margin: 0;
	/* padding: 1em 0 4em; */
	list-style: none;
	text-align: center;
}
.makergrid {
	position: absolute;
	left: 0;
}
/*.tasteMakers.container:before {
    content: '';
    position: absolute;
    left: 0;
    height: 310px;
    width: 9%;
    background: rgba(255, 255, 255, 0.51);
    z-index: 99;
    margin-top: 80px;
}
.conatinerBefore:before {
    content: '';
    position: absolute;
    right: 0;
    height: 310px;
    width: 9%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 99;
    margin-top: 80px;
}*/

.jumbotron .container {
	max-width: 100%;
    height: 100%;
    padding: 0% 0%;
    padding-bottom: 228px !important;
    padding-top: 252px;
}
#fbar._Zvd {
    padding-top: 18px;
    padding-bottom: 18px;
}
.more.info {
    display: none;
    text-align: center;
    padding: 20px;
    background: #B53F4D;
    color: #fff;
}
.more.info a {
    color: #fff;
}
.more.info a:hover {
    color: #EFEFEF;
    text-decoration: none;
}
.more.title {
    padding: 11px;
    text-align: center;
}
.maker:hover, .maker:hover *:hover {
	transition: all .3s ease-in-out;
}
.maker.info {
    position: absolute;
    top: 0;
    padding: 10px;
    height: 187px;
    width: 90%;
    background: #fff;
    display: none;
    text-align: center;
    height: calc(100% - 80px);
    overflow: hidden;
}
.maker.swiper-slide.ng-scope img {
	width: 100%;
}
.maker.swiper-slide:hover .maker.info {
	display: block;
}
.maker.swiper-slide:hover .more.title {
	display: none;
}
.maker.swiper-slide:hover .more.info {
	display: block;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	/*overflow: hidden;*/
	margin: 0px 0%;
	min-width: 212px;
	max-width: 360px;
	height: 360px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 1.2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 78%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

section {
	padding: 1em;
	text-align: center;
}

.swiper-container.swiper-container-horizontal {
    margin-left: 0px;
    margin-right: 0px;
}
.tasteMakers.container .swiper-container.swiper-container-horizontal {
    margin-left: -130px;
    margin-right: -130px;
}
.main-video-window {
	max-height: 473px;
}
.menu-mid {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}
.menu-category img {
	max-width: 100%;
}
.menu-category {
 display: inline-block;
 width:  100%; 
}

md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
    color: rgb(181, 63, 77);
}
.md-subheader.md-default-theme, .md-subheader {
    color: rgba(0,0,0,0.54);
    background-color: rgb(250, 250, 250);
}
md-list-item ._md-list-item-inner .md-avatar, md-list-item .md-avatar {
    width: 50px;
    height: 50px;
}
md-card-content {
    max-height: 220px;
    overflow-y: scroll;
    width: 104%;
    box-shadow: inset -10px 1px 7px #EAE8E8;
}
md-card {
	overflow: hidden;
}
md-content {
	overflow: hidden;
}
md-toast {
	position: fixed !important;
}
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #fff;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }

md-content.today {
    overflow: hidden;
}


md-card {
	box-shadow: 0 1px 3px 0 rgba(113, 113, 113, 0.2) , 0 1px 1px 0 rgba(183, 183, 183, 0.14) , 0 2px 1px -1px rgba(130, 130, 130, 0.12);
}
.recipe {
    padding: 0 50px;
    box-shadow: 0 0 6px 0px rgba(142, 139, 139, 0.33);
    background: #fff;
    padding-top: 10px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #797979;
}
.morphsearch {
	width: 200px;
	min-height: 40px;
	background: #f1f1f1;
	position: absolute;
	z-index: 10000;
	top: 50px;
	right: 50px;
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-transition-property: min-height, width, top, right;
	transition-property: min-height, width, top, right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open {
	width: 100%;
	min-height: 100%;
	top: 0px;
	right: 0px;
	overflow-x:hidden;
}

.morphsearch-form {
	width: 100%;
	height: 40px;
	margin: 0 auto;
	position: relative;
	-webkit-transition-property: width, height, -webkit-transform;
	transition-property: width, height, transform;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open .morphsearch-form {
	width: 80%;
	height: 160px;
	-webkit-transform: translate3d(0,3em,0);
	transform: translate3d(0,3em,0);
}

.morphsearch-input {
	width: 100%;
	height: 100%;
	padding: 0 10% 0 10px;
	font-weight: 700;
	border: none;
	background: transparent;
	font-size: 0.8em;
	color: #ec5a62;
	-webkit-transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
	transition: font-size 0.5s cubic-bezier(0.7,0,0.3,1);
}

.morphsearch-input::-ms-clear { /* remove cross in IE */
    display: none;
}

.morphsearch.hideInput .morphsearch-input {
	color: transparent;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.morphsearch.open .morphsearch-input {
	font-size: 7em;
}

/* placeholder */
.morphsearch-input::-webkit-input-placeholder {
	color: #c2c2c2;
}

.morphsearch-input:-moz-placeholder {
	color: #c2c2c2;
}

.morphsearch-input::-moz-placeholder {
	color: #c2c2c2;
}

.morphsearch-input:-ms-input-placeholder {
	color: #c2c2c2;
}

/* hide placeholder when active in Chrome */
.gn-search:focus::-webkit-input-placeholder {
	color: transparent;
}

input[type="search"] { /* reset normalize */
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;	
}

.morphsearch-input:focus,
.morphsearch-submit:focus {
	outline: none;
}

.morphsearch-submit {
	position: absolute;
	width: 80px;
	height: 80px;
	text-indent: 100px;
	overflow: hidden;
	right: 0;
	top: 50%;
	background: transparent url(../img/magnifier.svg) no-repeat center center;
	background-size: 100%;
	border: none;
	pointer-events: none;
	transform-origin: 50% 50%;
	opacity: 0;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
	transform: translate3d(-30px,-50%,0) scale3d(0,0,1);
}

.morphsearch.open .morphsearch-submit {
	pointer-events: auto;
	opacity: 1;
	-webkit-transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	transform: translate3d(-30px,-50%,0) scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close {
	width: 36px;
	height: 36px;
	position: fixed;
    right: 2em;
    top: 7em;
	overflow: hidden;
	text-indent: 100%;
	cursor: pointer;
	pointer-events: none;
	opacity: 0;
	-webkit-transform: scale3d(0,0,1);
	transform: scale3d(0,0,1);
}

.morphsearch.open .morphsearch-close {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch-close::before,
.morphsearch-close::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 100%;
	top: 0;
	left: 50%;
	border-radius: 3px;
	opacity: 0.2;
	background: #000;
}

.morphsearch-close:hover.morphsearch-close::before,
.morphsearch-close:hover.morphsearch-close::after {
	opacity: 1;
}

.morphsearch-close::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.morphsearch-close::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.morphsearch-content {
	color: #333;
	padding-top: 4.5em;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding: 0 10.5%;
	background: #f1f1f1;
	position: absolute;
	pointer-events: none;
	opacity: 0;
}

.morphsearch.open .morphsearch-content {
	opacity: 1;
	height: auto;
	overflow: visible; /* this breaks the transition of the children in FF: https://bugzilla.mozilla.org/show_bug.cgi?id=625289 */
	pointer-events: auto;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
	margin-top: 25px;
	margin-right: 60px;
	margin-bottom: 130px;
}

.search-column {
	width: 80%;
	padding: 0 0 6em;
	float: left;
	opacity: 0;
	-webkit-transform: translate3d(0,100px,0);
	transform: translateY(100px);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;
}

.morphsearch.open .morphsearch.open .morphsearch-content.search-column:first-child {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.morphsearch.open .search-column:nth-child(2) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.morphsearch.open .search-column:nth-child(3) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.morphsearch.open .search-column {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.search-column:nth-child(2) {
	margin: 0 5%;
}

.search-column h2 {
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 800;
	color: #c2c2c2;
	padding: 0.5em 0;
}

.round {
	border-radius: 50%;
}

.dummy-media-object {
	padding: 0.75em;
	display: block;
	margin: 0.3em 0;
	cursor: pointer;
	border-radius: 5px;
	background: rgba(118,117,128,0.05);
}

.dummy-media-object:hover,
.dummy-media-object:focus {
	background: rgba(118,117,128,0.1);
}

.dummy-media-object img {
	display: inline-block;
	width: 50px;	
	margin: 0 10px 0 0;
	vertical-align: middle;
}

.dummy-media-object h3 {
	vertical-align: middle;
	font-size: 0.85em;
	display: inline-block;
	font-weight: 700;
	margin: 0 0 0 0;
	width: calc(100% - 70px);
	color: rgba(145,145,145,0.7);
}

.dummy-media-object:hover h3 {
	color: rgba(236,90,98,1);
}

/* Overlay */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.morphsearch.open ~ .overlay {
	opacity: 1;
}

@media screen and (max-width: 53.125em) {
	.morphsearch-input {
		padding: 0 25% 0 10px;
	}
	.morphsearch.open .morphsearch-input {
		font-size: 2em;
	}
	.search-column {
		float: none;
		width: auto;
		padding: 0 0 2em;
	}
	.search-column:nth-child(2) {
		margin: 0;
	}
	.morphsearch.open .morphsearch-submit {
		-webkit-transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
		transform: translate3d(0,-50%,0) scale3d(0.5,0.5,1);
	}
}

@media screen and (max-width: 60.625em) {
	.morphsearch {
		width: 80%;
		top: 10%;
		right: 10%;
	}
}


.view.ng-leave 	{ z-index:9999; }
.view.ng-enter 	{ z-index:8888; }

/* slide out left */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}
/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}
/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}
/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}
/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}
/********************************* keyframes **************************************/

/* scale and fade */

@-webkit-keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
	from { }
	to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleUp {
	from { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleUpDown {
	from { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDownUp {
	from { }
	to { opacity: 0; -webkit-transform: scale(1.2); }
}
@keyframes scaleDownUp {
	from { }
	to { opacity: 0; -webkit-transform: scale(1.2); transform: scale(1.2); }
}

@-webkit-keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -webkit-transform: scale(.7); }
}
@keyframes scaleDownCenter {
	from { }
	to { opacity: 0; -webkit-transform: scale(.7); transform: scale(.7); }
}

@-webkit-keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); }
}
@keyframes scaleUpCenter {
	from { opacity: 0; -webkit-transform: scale(.7); transform: scale(.7); }
}

/* View 1 animations for page leave and enter */
.view1.ng-leave         {
    -webkit-animation:scaleDownUp 0.5s both ease-in;
	-moz-animation:scaleDownUp 0.5s both ease-in;
	animation:scaleDownUp 0.5s both ease-in;  

}
.view1.ng-enter 		{  
    -webkit-animation:scaleUpDown 0s both ease-in;
	-moz-animation:scaleUpDown 0s both ease-in;
	animation:scaleUpDown 0s both ease-in;    
}
.view2.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}

form.login {
    position: fixed;
    top: 0;
    margin-top: 40%;
    transform: translateY(-100%);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 420px;
    background: #fff;
    padding: 30px;
    box-shadow: 0 0 16px 1px #525252;
    direction: none;
}
input {
	width: 90% !important;
}
a.md-default-theme:not(.md-button):hover, a:not(.md-button):hover {
     color: #23527c;
     text-decoration: none;
}
a.md-default-theme:not(.md-button), a:not(.md-button) {
     color: #337ab7; 
}
